@font-face {
    font-family: "Helvetica Compressed";
    src: url("../fonts/helveticaComp.ttf"),
      local("helveticaComp"),
      format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  :root {
    --backGroundColor: #222126;
    --turquoiseColor: #03c1ab;
    --violetColor: #480d83;
    --redOrangeColor: #F69B11;
    --wordsColors: #ffffff;
    --greyColor: #C4C4C4;
    --greenColor: #32F611;
    --pinkColor: #F611C4;
    --fontFamily: "Helvetica Compressed";
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Helvetica Compressed";
  }


 .container {
    background-color: #480D83;
    display: flex;
    width: 1200px;
    border-radius: 8px;

}
.containerImg{
    width: 464px;
    height: 600px;
    background-image: url(../img/login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px 0 0 8px;
}

.title {
    color: white;
    font-weight: 400;
    font-size: 64px;
    text-transform: uppercase;
}

.containerLogin {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    }

.login-register {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
}

.button-a{
    color: var(--wordsColors);    
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background-color: transparent;
}

.button-a a{
    text-decoration: none;
}

.button-a :hover {
    text-decoration: none;
    color: var(--turquoiseColor);
    transition: all ease-in .2s;
}

.container-input{
    margin: 0 0 16px 0;
}

.container-input input {
    width: 300px;
    height: 50px;
    color: white;
    background-color: transparent;    
    border: 1px solid var(--wordsColors);
    border-radius: 8px;
    font-size: 16px;
    font-family: helvetica;
    padding: 0 0 0 8px;
}

.container-input input::placeholder {
    padding-left: 10px;
    margin-left: 50px;
    color: white;
    font-size: 16px;
}



.container-input .color {
    color: var(--wordsColors);
    width: 36px;
    height: 36px;
}


.containerCheckbox {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
}

.containerCheckbox label {
    color: white;
    font-family: 'Helvetica';

}

.containerCheckbox a {
    color: #03c1ab;
    text-decoration: none;
    font-family: 'Helvetica';

}

.btn {
    width: 169px;
    height: 66px;
    background: linear-gradient(50deg, #03C1AB, #480D83);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: white;
}

.btn:hover {
    transition: all ease-in .2s;
    background: linear-gradient(10deg, #03C1AB, #480D83);
} 