@font-face {
  font-family: "Helvetica Compressed";
  src: url("../fonts/helveticaComp.ttf"),
    local("helveticaComp"),
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --backGroundColor: #222126;
  --turquoiseColor: #03c1ab;
  --violetColor: #840ae1;
  --redOrangeColor: #F69B11;
  --wordsColors: #ffffff;
  --greyColor: #C4C4C4;
  --greenColor: #32F611;
  --pinkColor: #F611C4;
  --backgroundColorLight:   #252530;
  --fontFamily: "Helvetica Compressed";
  --fontFamilyLight: "Helvetica"
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Compressed";
}

body {
  background-color: var(--backGroundColor);

}




/**************** HEADER SECTION **************/

.navBar {
  padding: 1rem;
  height: 180px;
}

.navegation {
  display: flex;
  align-content: space-between;
  margin-left: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logout {
  text-align: right;
  align-items: center;
  padding-right: 1rem;
  padding-top: 1rem;
}

hr {
  height: 2px;
  width: 100%;
  color: var(--turquoiseColor);
}

.divLogo {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: var(--turquoiseColor);
  letter-spacing: 0.2rem;
}


.button-logout {
  border: none;
  background-color: var(--backGroundColor);
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 0.2rem;
}

.button-logout a {
  text-decoration: none;
  color: var(--turquoiseColor);
}

.button-logout a:hover {
  text-decoration: none;
  color: var(--violetColor);
}

.button-settings {
  border: none;
  background-color: var(--backGroundColor);
  color: var(--wordsColors);
  border-radius: 5px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 0.2rem;
}

.button-settings a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
}



/**************** PROFILE SECTION ***************************/

                  .section-container-profile {
                    height: 250px;
                    color: var(--wordsColors);
                   display: flex;
                  }

                  .div-welcome {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 48px;
                    justify-content: left;
                  }

                  .welcome-h2 {
                    font-size: 5rem;
                    letter-spacing: .3rem;
                  }

                  .welcome-h3 {
                    font-size: 1.8rem;
                    font-family: helvetica;
                    font-weight: bold;
                  }

                  .pass{
                    width: 50%;
                  }
                  .active-pass-h2{
                    font-size: 16px;
                    letter-spacing: .1em;
                    /* text-transform: uppercase; */
                    font-family:var(--fontFamilyLight);
                    color: var(--wordsColors);
                    margin: 0 0 16px 0;
                  }

                  .pass-background{
                    background-color: var(--backgroundColorLight);
                    border-radius: 8px;
                    width: 600px;
                    height: 196px;
                    display: flex;
                    margin-right: 30px;
                  }

                  .pass-credits-available{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 350px;
                    background: linear-gradient(135deg,
                    var(--turquoiseColor), 
                    var(--violetColor));
                    border-radius: 8px;
                    }

                  .active-pass-credits{
                    font-size: 88px;
                    letter-spacing: .1rem;
                    
                  }

                  .active-pass-p{
                    font-family: var(--fontFamilyLight);
                    font-size: 16px;

                  }

                  .active-pass{
                    text-transform: uppercase;
                    font-size: 24px;
                    letter-spacing: .1em;
                    margin-top: 16px;
                  }

                  .pass-history{
                    display: flex;
                    flex-direction: column;
                    justify-content:space-evenly;
                    width: 180px; 
                    margin: 0 0 0 32px;
                    }

                  span{
                      font-family: var(--fontFamilyLight);
                      font-size: 24px;
                      font-weight:bold;
                    }

                  .pass-button-plus{
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    margin: 0 0 24px 0;
                  }

                  .active-pass-button{
                    font-size: 16px;
                    font-family: var(--fontFamilyLight);
                    background-color: var(--backgroundColorLight);
                    color: var(--turquoiseColor);
                    border: none;
                    cursor: pointer;

                  }

                  .active-pass-button-plus{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;
                    width: 50px;
                    height: 50px;
                    background-color: var(--turquoiseColor);
                    border-radius: 8px;
                    border: none;

                  }

 
/****************** CLASS REMINDER **************************/

.container-class{
  width: 1200px;
  height: 100px;
  margin-left: 50px;
display: flex;
}



/***************** PRICES SECTION *****************/
.prices {
  display: none;
}

.prices.open{
  display: block;
}


.section-card-prices-h3 {
  color: var(--wordsColors);
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 1rem;
}

.card-prices-icon {
  padding-top: 50px;
  width: 48px;
}

.card-prices-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cards-prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--turquoiseColor);
  width: 350px;
  height: 500px;
  color: var(--wordsColors);
  border-radius: 8px;
  align-items: center;
}

.cards-prices-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-prices h4 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cards-prices h5 {
  padding-top: 16px;
  font-family: Helvetica;
  font-size: 16px;
  width: 180px;
  text-align: center;
}

.cards-prices h6 {
  padding-top: 16px;
  font-size: 48px;
  letter-spacing: 0.2rem;
}

.cards-prices-button {
  background-color: var(--turquoiseColor);
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  color: var(--wordsColors);
  margin: 32px;
  padding: 8px 16px;
  color: var(--backGroundColor);
  cursor: pointer;
}

.cards-prices:hover {
  background-color: var(--turquoiseColor);
  border: 1px solid var(--turquoiseColor);
  transition: all 0.5s;
  color: var(--backGroundColor);
}


/********************* CALENDAR SECTION **************************/

.timetable-chart{
  margin-top: 36px;
}

.calendar-chart{
  display: flex;
}

.calendar{
  margin-bottom: 70px;
  background-color: var(--backgroundColorLight);
  display: flex;
  justify-content: center;
  width: 1300px;
  border-radius: 8px;
  margin-left: 50px;
  padding: 48px 24px;
  height: 700px;
}
.calendar-title{
  display: flex;
  flex-direction: row;
}

.timetable-chart-h2{
  font-size: 16px;
  letter-spacing: .1em;
  font-family:var(--fontFamilyLight);
  color: var(--wordsColors);
  margin: 0 0 8px 50px;
}

.chart-h2{
  margin-left: 1100px;
}

.calendar-days {
  display: flex;

}

.calendar-days-background {
  height: 30px;
  width: 200px;
  margin-right: 25px;
}

.calendar-week-days {
  display: flex;
  margin-right: 8px;


}

.calendar-week-days p {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 24px;
  color: var(--wordsColors);
}

.calendar-activities {
  display: flex;
}

.gym-days {
  width: 190px;
  height: 30px;
  /* border: 1px solid yellow; */
  text-align: center;
  margin: 8px 16px 8px 0;
}


.calendar-hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}


.calendar-morning {
  width: 80px;
  /* border: 1px solid #df3838; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 36px;
  color: var(--wordsColors);
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 8px;
}

.calendar-afternoon {
  width: 80px;
  /* border: 1px solid #df3838; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 36px;
  color: var(--wordsColors);
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 8px;

}
.gym-class {
  transition: 0.55s;
  width: 190px;
  height: 50px;
  /* border: .02px solid var(--turquoiseColor); */
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .1rem;
  color: var(--wordsColors);
  display: flex;
  align-items: center;
  margin: 8px 16px 8px 0;
}
.gym-hour {
  width: 120px;
  height: 50px;
  /* border: 1px solid #df3838; */
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .1rem;
  color: var(--wordsColors);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 16px 8px 0;
}

.gym-class-onclick-power-stretching{
  background-color: var(--violetColor)
  
}
.gym-class-onclick-abs{
  background-color: var(--redOrangeColor);
  color: var(--backGroundColor);
}
.gym-class-onclick-step{
  background-color: var(--pinkColor)
}
.gym-class-onclick-zumba{
  background-color: var(--turquoiseColor);
  color: var(--backGroundColor);
}
.gym-class-onclick-cardio{
  background-color: var(--greyColor);
  color: var(--backGroundColor);
}

.gym-class-onclick-aerobox{
  background-color: var(--greenColor);
  color: var(--backGroundColor);
}

.slide-cardio:hover {
  box-shadow: inset 10.5em 0 0 0 var(--greyColor);
  color: var(--backgroundColorLight);
}

.slide-abs:hover {
  box-shadow: inset 10.5em 0 0 0 var(--redOrangeColor);
  color: var(--backgroundColorLight);
}

.slide-power-stretching:hover {
  box-shadow: inset 10.5em 0 0 0 var(--violetColor);
}

.slide-step:hover {
  box-shadow: inset 10.5em 0 0 0 var(--pinkColor);
}

.slide-zumba:hover {
  box-shadow: inset 10.5em 0 0 0 var(--turquoiseColor);
  color: var(--backgroundColorLight);
}

.slide-aerobox:hover {
  box-shadow: inset 10.5em 0 0 0 var(--greenColor);
  color: var(--backgroundColorLight);
}



.container {
  display: flex;
}

.div-space {
  height: 30px;
  /* border: 1px solid #df3838; */
}

.rectangule-power-stretching {
  width: 15px;
  height: 50px;
  background-color: var(--violetColor);
  margin-right: 8px;
}

.rectangule-abs {
  width: 15px;
  height: 50px;
  background-color: var(--redOrangeColor);
  margin-right: 8px;
}

.rectangule-zumba {
  width: 15px;
  height: 50px;
  background-color: var(--turquoiseColor);
  margin-right: 8px;
}

.rectangule-cardio {
  width: 15px;
  height: 50px;
  background-color: var(--greyColor);
  margin-right: 8px;
}

.rectangule-aerobox {
  width: 15px;
  height: 50px;
  background-color: var(--greenColor);
  margin-right: 8px;
}

.rectangule-step {
  width: 15px;
  height: 50px;
  background-color: var(--pinkColor);
  margin-right: 8px;
}


.border-cardio {
  border: 1px solid var(--greyColor);
}

.border-aerobox {
  border: 1px solid var(--greenColor);
}

.border-zumba {
  border: 1px solid var(--turquoiseColor);
}

.border-power-stretching {
  border: 1px solid var(--violetColor);
}

.border-abs {
  border: 1px solid var(--redOrangeColor);
}

.border-step {
  border: 1px solid var(--pinkColor);
}

/******************** PROFILE TIME KCAL *****************/

.profile-time-kcal{
    margin-left: 16px;
    margin-top: 16px;

}
.profile-time-kcal-background{
/* border: 1px solid green; */
  width: 300px;
  height: 258px;
display: flex;
flex-direction: column;
gap: 16px;
}

.profile-title-h2{
  font-size: 16px;
  letter-spacing: .1em;
  font-family:var(--fontFamilyLight);
  color: var(--wordsColors);
  margin: 24px 0 8px 0;
}
.profile-kcal{
  display: flex;
  
}

.kcal-background{
  width: 100px;
  background: linear-gradient(135deg,
  var(--turquoiseColor), 
  var(--violetColor));
  height: 100px;
  border-radius: 8px 0 0 8px ;
}

.kcal-info{
  width: 200px;
  height: 100px;
  background-color: var(--backgroundColorLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.info-h3{
  font-size: 48px;
  color: var(--wordsColors);
  margin: 0 0 0 16px;
}

.info-h4{
  font-size: 16px;
  color: var(--wordsColors);
  font-family: helvetica;
  margin: 0 0 0 16px;
}


/**************** CHART SECTION *********************/

.chart {
  width: 300px;
  background-color: var(--backgroundColorLight);
  border-radius: 8px;
 display: flex; 
 justify-content: center;
 align-items: center;
  margin-left: 16px;
  height: 430px;
}



/******************* OUR CLASSES *****************/


.divTitles {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.2rem;
  color: var(--wordsColors);
  align-content: center;
}

.whiteCircle {
  width: 150px;
  height: 150px;
  border: 20px solid white;
  border-radius: 50%;
  align-self: center;
}

.categoriesGrafica {
  text-align: center;
  align-self: center;
  width: 200px;
  color: white;
  margin-top: 20px;
  line-height: 15px;
}

.divsCategorias {
  width: 50%;
  color: white;
}

.categoriasCards {
  background-color: #25252e;
  height: 65px;
  margin-bottom: 10px;
  padding: 2rem;
  border-radius: 15px;
  color: white;
}

.buttonVerMas {
  border: none;
  background-color: var(--turquoiseColor);
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
} 



/***************** FOOTER ****************/
footer {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-h3{
  color: var(--greyColor);
  font-size: 12px;
  font-family: helvetica;

}







.letraDelPlan {
  font-size: 24px;
}



.widthDiv {
  width: auto;
  background: linear-gradient(135deg,
  var(--turquoiseColor), 
  var(--violetColor));
padding: 16px 32px 16px 32px;
  border-radius: 8px;
  font-family: helvetica;
  margin: 0 16px 0 0;
  color: var(--wordsColors);

}

.widthDiv p{
  font-size: 18px;
  text-transform: uppercase;

}
.pDay{
  font-weight: bolder;
}

.container-class {
  display: flex;
}

.container-class-h3{
  font-size: 24px;
  color: var(--wordsColors);
}